 
<!-- Sidebar navigation -->
<div class="container-fluid" >
    <div class="row">
    
   
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="inner-adjust">
            <div class="d-flex justify-content-between">
              <div>
                <h2>Sections</h2>
              </div>
              <div>
                <button  class="btn btn-primary "  data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="fas fa-plus"></i>Add Sections
                </button>
               </div>
          </div>
             
          <hr/>
            
          <div>   


        <!-- table-->
           
        <div class="d-flex justify-content-between"  style="margin-bottom:10px;">
            <div>
               <div class="d-flex justify-content-between"> 
         
                 <div> <p style="color: rgb(255, 0, 0);">Total Records: {{totalRecords}}  &nbsp;<br></p>  </div>
                 
                 <div>             
                   
                   
                 </div>
         
                 <div>    <label style="margin-left: 10px;">Search: &nbsp;</label></div>
                 <div>  <input style="width: 300px;"type="text" name= "search" [(ngModel)]="searchterm"></div>  
             </div>
              </div>
            
            <div>
             <div>
         
               <div>  
               </div>        
                     <div class="d-flex justify-content-between">
                       <div><label for="cars">Records per page : &nbsp;</label></div>
                       <div>  <select (change)="onTableSizeChange($event)"> 
                         <option *ngFor="let size of tableSizes"> {{size}}</option>
                       </select></div>  
                  
                 </div>
               </div>  
              </div>
           </div>
          
          
          
                    
      
            
 
           <div class="card" >
            
            <div class="card-body">
          
         <div class="data">
         
             <table class="table table-striped table-light" id="download">
                 <thead class="table-light">
                     <tr>
                         <th scope="col"> Id </th>
                         <th scope="col"> Section </th>
                         <th scope="col"> Standard  </th>
                         <th scope="col">   </th>
                 
                         
                     
                        
                     </tr>
                 </thead>
                 <tbody>

             

                   
                     <tr *ngFor="let stu of sectionData  |filter:searchterm | paginate:{itemsPerPage: tableSize,currentPage: page , totalItems:count}let i = index">
                         <td> {{stu.id}}</td>
                         <td> {{stu.section}}</td>
                         <td> {{stu.standard}}</td>
                 
                     
                         <td>
         
                        
                        
                             <button  type ="button"  class="btn btn-outline-primary"
                             data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;

                          
                             <button type ="button" class="btn btn-outline-danger" (click)="deletestudent(stu.id)"
                             >Delete</button>&nbsp;
                         </td>
                        
                     </tr>
                 </tbody>
             
             
             </table>
                    
              
               
             <div>
         
      </div></div>

      
             
               
         
             
         </div>

         </div>

         <pagination-controls
         previousLabel=" Prev"
         nextLabel="Next"
 
         (pageChange)="onTableDataChange($event)"></pagination-controls>
              <!-- table-->





          </div>
                
          </div>
        </main>
  
    </div>
    </div>
    
      
         
  
  
      <!--  Add Sections -->
      
       
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Sections</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                
              
               
                    <label for="description">Standard  </label> 
                    
                    <select id="standard" name="standard"  class="form-control"  [(ngModel)]="section.standard">
                        <option value="0" selected >Select a Standard</option>
                        <option value="1">1st Class</option>
                        <option value="2">2 Class</option>
                        <option value="3">3 Class</option>
                        <option value="4">4 Class</option>
                        <option value="5">5 Class</option>
                        <option value="6">6 Class</option>
                        <option value="7">7 Class</option>
                        <option value="8">8 Class</option>
                        <option value="9">9 Class</option>
                        <option value="10">10 Class</option>
                        <option value="11">11 Class</option>
                        <option value="12">12 Class</option>
                      </select>
    
                   
        <br/>

                      <div class="form-group">
                        <label for="description">Section (ex : 9A)</label> 
                        <input   type="text"
                          class="form-control"
                          id="section"
                          required
                          [(ngModel)]="section.section"
                          name="section"
                        />
                      </div>
                   
            
              
          
          
           
                      <button (click)="createsection()" class="btn btn-success">Submit</button>
                      <div *ngIf="submitted">
                        <h4>section created successfully!</h4>
                       
                      </div>
          
           
                </div>
                <div class="modal-footer">
          
               
          
                    
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 
                
              </div>
                
                
                
              </div>
            </div>
          </div>
          