<div class="container" style="margin-top: 55px;">
  <header class="jumbotron">
 

<div class="container">
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-primary btn-lg" href="register" role="button">Admin</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary btn-lg" href="studentregister" role="button">Student</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary btn-lg" href="login" role="button">Login</a>
    </div>
  </div>
</div>
  </header>
</div>
